@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


@import url('https://fonts.googleapis.com/css2? family= Cormorant+Infant & display=swap');


h1{
    font-family: 'DM Serif Display'
}

h2{
    font-family: 'DM Serif Display'
}

h3{
    font-family: 'DM Serif Display'
}




body{
    background-color: silver;
    margin: 1em;
   
   
}

.pquebra{
    clear:both;
}
img{
    border: 1px solid blue;
    width: 20%;
    margin: 10px;
    text-align: center;
}

.direita { 
   
    float: right;
  
}

.esquerda { 
    
    float: left;
    margin: 2em;
    align-items: center;
} 