   /* p {                                         
    text-transform: uppercase;    

     } */ /*Comando serve para deixar o texto todo maiusculo.*/

    /* p {                                         
    text-transform: lowercase;    

     }  /*Comando serve para deixar o texto todo minusculo.*/

     /*p {                                         
    text-transform: capitalize;    

     }  /*Comando serve para deixar todas as letras iniciais maiusculas*/
     
