/*p{
    text-align:center;
} /* Centraliza o texto na pagina.*/

/*p{
    text-align:left;
} /* Deixa o texto a esquerda. */

 /*p{
    text-align:right;
} /* Deixa o texto a direita. */

/*p{
    text-align:justify;
} /* Deixa o texto a esquerda. */
